.gravitas-one-regular {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
}


html,
body {
    overscroll-behavior: none;
    overflow: hidden;
}

body {
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
}

body.day {
    /*background: radial-gradient(
        circle at 1% 1%,
        rgb(245, 245, 76) 0%,
        rgb(248, 236, 213) 10%,
        rgb(137, 193, 241) 30%,
        rgb(10, 92, 125) 100%
    );*/
    background-image: url("images/daytime-sky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body.night {
    /*background: radial-gradient(
        circle at 1% 1%,
        rgba(233, 233, 226, 0.6) 1%,
        rgba(0, 0, 0, 0.7) 10%,
        rgb(11, 29, 58) 15%,
        rgb(2,1,17) 100%
    );*/
    color: white;
    background-image: url("images/nightsky.jpg");
    background-size: cover;
    opacity: .8;
}

body.night a,
body.night p {
    color: white;
}

body.night .sunrise-sunset p {
    color: black;
}

.thermometer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-icon {
    width: 100%;
    max-width: 80px;
}

/* sunrise-sunset dom */
.sunrise-sunset {
    border: 1px solid rgb(85, 92, 72);
    border-radius: 10px;
    box-shadow: 3px 3px 8px grey;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 100px 30px;
    place-items: center;
    padding: 50px 30px;
    background-color: rgba(255, 255, 255, .1);
    
}

.sunrise-sunset p {
    font-size: .7rem;
}

.sunrise-img {
    grid-column: 1 / 2;
    justify-content: center;
}

.sunset-img {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    
}

.wind-img {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

footer p {
    color: black;
    font-size: .8rem;
}

footer a {
    color: black
}

footer a:hover {
    font-size: 1rem;
}