.gravitas-one-regular {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0;
    background-color: rgb(9, 9, 79);
    color: white;
}

.navbar {
    color: cyan;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: cyan;
}

.navbar a:hover {
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar li .active {
    text-decoration: underline;
}

.navbar li {
    list-style: none;
}

.display-info-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    color: #D0F4FF;
    margin-top: 50px;
}

.display-info-container p {
    margin: 5px 0;
    line-height: 1.3;
}